<div class='container mt-4'>
  <div class='card shadow-sm'>
    <div class='card-body'>
      <h3>Edit Event</h3>

      <form id='editEventForm'>
        <input type='hidden' id='eventId' value='{{event._id}}' />

        <div class='mt-3 row'>
          <label class='col-sm-2 form-label' for='eventTitle'>Event Name</label>
          <div class='col-sm-10'>
            <input
              class='form-control'
              type='text'
              id='eventTitle'
              name='title'
              value='{{event.eventName}}'
              required
            />
          </div>
        </div>

        <div class='mt-3 row'>
          <label class='col-sm-2 form-label' for='eventDescription'>Event Description</label>
          <div class='col-sm-10'>
            <textarea
              class='form-control'
              id='eventDescription'
              name='description'
              rows='3'
            >{{event.eventDescription}}</textarea>
          </div>
        </div>

        <div class='mt-3 row'>
          <label class='col-sm-2 form-label' for='eventLocation'>Location</label>
          <div class='col-sm-10'>
            <input
              class='form-control'
              type='text'
              id='eventLocation'
              name='location'
              value='{{event.location}}'
            />
          </div>
        </div>

        <div class='mt-3 row'>
          <label class='col-sm-2 form-label' for='eventType'>Event Type</label>
          <div class='col-sm-10'>
            <input
              class='form-control'
              type='text'
              id='eventType'
              name='type'
              value='{{event.type}}'
              placeholder='e.g. Workshop, Meeting, Outreach'
            />
          </div>
        </div>

        <div class='mt-3 row'>
          <label class='col-sm-2 form-label' for='startDateTime'>Start</label>
          <div class='col-sm-10'>
            <input
              class='form-control'
              type='datetime-local'
              id='startDateTime'
              name='startDateTime'
              value='{{formStartISO}}'
            />
          </div>
        </div>

        <div class='mt-3 row'>
          <label class='col-sm-2 form-label' for='endDateTime'>End</label>
          <div class='col-sm-10'>
            <input
              class='form-control'
              type='datetime-local'
              id='endDateTime'
              name='endDateTime'
              value='{{formEndISO}}'
            />
          </div>
        </div>

        <div class='mt-3 row'>
          <label class='col-sm-2 form-label' for='eventAttendees'>Expected Attendees</label>
          <div class='col-sm-10'>
            <input
              class='form-control'
              type='number'
              id='eventAttendees'
              name='attendees'
              min='0'
              value='{{event.expectedAttendees}}'
            />
          </div>
        </div>

        <div class='mt-3 row'>
          <label class='col-sm-2 form-label'>Notify</label>
          <div class='col-sm-10'>
            <div class='form-check'>
              <input class='form-check-input' type='checkbox' id='sendAll' />
              <label class='form-check-label' for='sendAll'>Send to all members</label>
            </div>

            <div id='customMembers' class='mt-2'>
              <div class='form-check'>
                <input class='form-check-input' type='checkbox' id='custom' />
                <label class='form-check-label ms-2' for='custom'>Custom</label>
              </div>
              <div class='member-list mt-2'>
                <!-- keep existing select for small lists as fallback -->
                <select
                  id='customSelect'
                  class='form-select custom-select-small'
                  style='display:none;'
                >
                  <option>Select member</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class='mt-3 row'>
          <div class='col-sm-12 text-end'>
            <button id='cancelBtn' type='button' class='btn btn-secondary'>Cancel</button>
            <button id='deleteBtn' type='button' class='btn btn-danger'>Delete</button>
            <button id='editBtn' type='button' class='btn btn-primary'>Save Changes</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script defer src='/js/editEvent.js'></script>